@media (min-width: 800px) {
  button {
    width: 5%;
    height: 8%;
    border-radius: 50%;
    background: transparent;

    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 20px;
    outline: none;
    border: 1px solid black;
    opacity: 0.7;
  }
  button:hover {
    opacity: 1;
  }
  .arrow-img {
    opacity: 0.7;
    width: 70%;
    height: 70%;
  }
  .arrow-img:hover {
    opacity: 1;
  }
  .next {
    left: 6%;
    transform: translate(-50%, -50%);
  }

  .prev {
    right: 6%;
    transform: translate(50%, -50%);
  }
}

@media (max-width: 400px) {
  button {
    display: none;
  }
}
